.btn {
  margin-left: 10px;
  width: 200px;
  padding: 10px 15px;
  border: 1px solid #5277c8;
  background: linear-gradient(to bottom, #5277c8, #2e4b8e);
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background: #fff;
    color: #5277c8;
  }
}


