.titulo {
    text-align: start;
    margin-bottom: 1.5em;
    margin-left: -3%;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to right, #1e4c96, #5277C8);
    -webkit-background-clip: text;
    color: transparent;
  }